.home-container p {
  border-left: 5px solid;
  border-color: linear-gradient(45deg, #d3c9ff, #f7f7a3);
  padding-left: 30px;
}

.home-container h1 {
  font-size: 116px;
  font-weight: 100;
  margin-bottom: 20px;
}
