.skills {
  text-align: center;
  color: var(--grey-white);
}

.coding-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  row-gap: 8px;
  height: 300px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  padding-bottom: 20px;
}

.soft-skills {
  display: grid;

  column-gap: 8px;
  row-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.coding-skills .skill {
  border-radius: 10px;
}

.soft-skills .skill {
  border-radius: 10px;
}

.skill:hover {
  background-color: rgb(240, 190, 106);
  transition: all 100ms ease-in;
  color: var(--secondary-black);
}

.skill {
  background-color: var(--secondary-black);
  padding: 15px;
  font-size: 17px;
  font-weight: 600;
  opacity: 0;
}

.fall-down {
  animation: fall-down 2s forwards;
}

.skill-icon {
  height: 40px;
  margin-top: 30px;
}

.react-icon {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fall-down {
  0% {
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
