@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Montserrat, sans-serif;
  color: var(--grey-white);
  background-color: #1d1d20;
  --grey-white: #cdcdc9;
}
