.body {
  background-color: #1d1d20;
  border: 2px solid black;
  margin: 100px;
  color: #cdcdc9;
  font-family: "Times New Roman", Times, serif;
}

.main-content-container {
  display: grid;

  padding: 100px 100px 100px 50px;
  grid-template-columns: 4fr 1fr;
}
