nav li {
  font-size: 17px;
  list-style: none;
  margin-bottom: 20px;
}

.navigation a {
  text-decoration: none;
  color: var(--grey-white);
  border-bottom: 1px solid;
  border-color: linear-gradient(45deg, #d3c9ff, #f7f7a3);
}

.content-list-container {
  padding-top: 70px;
}

.navigation {
  position: relative;
  margin: 10px;
}
.navigation::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: 120px;
  width: 120px;

  background: linear-gradient(45deg, #f7f7a3, #d3c9ff);
  border-radius: 10px;
}

.content-list {
  padding-left: 0;
  position: relative;
  padding: 35px;
  background-color: #1d1d20;
  z-index: 5;
  border-radius: 10px;
}
