nav li {
  font-size: 17px;
  list-style: none;
  margin-bottom: 20px;
}

.navigation a {
  text-decoration: none;
  color: var(--grey-white);
  border-bottom: 1px solid;
  border-color: linear-gradient(45deg, #d3c9ff, #f7f7a3);
}

.content-list-container {
  padding-top: 70px;
}

.navigation {
  position: relative;
  margin: 10px;
}
.navigation::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: 120px;
  width: 120px;

  background: linear-gradient(45deg, #f7f7a3, #d3c9ff);
  border-radius: 10px;
  opacity: 0;
  animation: appear 2s ease-in forwards;
  animation-delay: 4s;
}

.content-list {
  padding-left: 0;
  position: relative;
  padding: 35px;
  background-color: #1d1d20;
  z-index: 5;
  border-radius: 10px;
  opacity: 0;
  animation: slide-left 2s ease forwards;
  animation-delay: 3s;
}

.content-list-container h3 {
  opacity: 0;
  animation: slide-down 1s ease forwards;
  animation-delay: 3s;
}

@keyframes slide-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
